<p style="color: green"><%= notice %></p>
<p id="radioname" hidden><%= @radiowave.name %></p> <%= render @radiowave %>

<!-- Trigger/Open The Modal -->
<button id="myBtn">ajouter une musique</button>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
      <div class="modal-content">
            <span class="close">&times;</span>
            <div><%= render "musics/form", music: @music,myradio: @radiowave.id %></div>
                  </div>

</div>
<div data-hit-radio="<%=@radiowave.name%>">
  <%=render @radiowave.lasttenmusics%>
</div>
<div>
  <br>
  <div id="viz">
        <canvas id="analyser" width="1024" height="50"></canvas>
            <canvas id="wavedisplay" width="1024" height="50"></canvas>
              </div>
                <div id="controls">
                      <img id="record" src="/img/mic128.png" onclick="toggleRecording(this);">
                          <a id="save" href="#"><img src="/img/save.svg"></a>
                            </div>
  <br>
  <br>
  <br>
  <br>
  <%= link_to "Edit this radiowave", edit_radiowave_path(@radiowave) %> |

  <%= link_to "Back to radiowaves", radiowaves_path %>

  <%= button_to "Destroy this radiowave", @radiowave, method: :delete %>
</div>
