<div id="<%= dom_id create_place %>">
  <p>
    <strong>User:</strong>
    <%= create_place.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= create_place.name %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= create_place.lat %>
  </p>

  <p>
    <strong>Lon:</strong>
    <%= create_place.lon %>
  </p>

</div>
