<!DOCTYPE html>
<html>
  <head>
    <title>Mycoolapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="/assets/<%=params[:controller]%>_<%=params[:action]%>.css" />
    <link href='https://fonts.googleapis.com/css?family=Vibur:400' rel='stylesheet' type='text/css'>
  </head>

  <body class="<%=params[:controller]%>_<%=params[:action]%>">
    <%= yield %>
  </body>
</html>
